{{ define "main" }}
  {{ .Scratch.Set "scope" "term" }}
  {{ $showHero := .Params.showHero | default site.Params.term.showHero | default false }}
  {{ if $showHero }}
    {{ $heroStyle := print "hero/" site.Params.term.heroStyle ".html" }}
    {{ if templates.Exists ( printf "partials/%s" $heroStyle ) }}
      {{ partial $heroStyle . }}
    {{ else }}
      {{ partial "hero/basic.html" . }}
    {{ end }}
  {{- end -}}


  {{/* 카테고리 제목 숨김 - 요구사항 3 */}}

  <section class="flex flex-col max-w-full mt-0 mb-5 prose dark:prose-invert lg:flex-row">
    {{ if .Content }}
      <div class="min-w-0 min-h-0 max-w-prose">
        {{ .Content }}
      </div>
      {{ $jsPage := resources.Get "js/page.js" }}
      {{ $jsPage = $jsPage | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
      <script
        type="text/javascript"
        src="{{ $jsPage.RelPermalink }}"
        integrity="{{ $jsPage.Data.Integrity }}"
        data-oid="views_term_{{ .Data.Term }}"
        data-oid-likes="likes_term_{{ .Data.Term }}"></script>
    {{ end }}
  </section>

  {{ if gt .Pages 0 }}
    {{/* Use 8 items per page like homepage */}}
    {{ $itemsPerPage := 8 }}
    {{ $paginator := .Paginate .Pages $itemsPerPage }}

    {{/* Tistory-style 2-column flexbox layout */}}
    <section class="tistory-card-container">
      {{ range $paginator.Pages }}
        {{ partial "article-link/tistory-card.html" . }}
      {{ end }}
    </section>

  {{ else }}
    <section class="mt-10 prose dark:prose-invert">
      <p class="py-8 border-t">
        <em>{{ i18n "term.no_articles" | emojify }}</em>
      </p>
    </section>
  {{ end }}

  {{ partial "pagination.html" . }}

  {{/* Tistory-style sidebar */}}
  {{ partial "tistory-sidebar.html" . }}
{{ end }}
